* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    font-family: 'Jost', sans-serif;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bg.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}

.who {
    font-size: 2rem;
    padding-right: 20px;
    padding-left: 20px;
}

.who i {
    padding-top: 25px;
    transition: .4s;
}

.who a {
    color: #FFF;
    font-size: 2.5rem;
    text-decoration: none;
}

.who a:hover i {
    color: #706fd3;
}

.projects-go {
    cursor: pointer;
    margin-top: 100px;
}

.projects-go:hover i {
    transform: rotate(360deg);

}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    padding-bottom: 15px;
}

h4 {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
}

/* projects */

.item {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.project-box {
    max-width: 95%;
    width: 500px;
    height: 300px;
    border-top: 35px solid #2b2b2b;
    border-radius: 15px;
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.75);
}

.screen {
    margin-left: 10px;
    margin-top: -27px;
    position: absolute;
    display: flex;
}

.circle {
    width: 18px;
    height: 18px;
    z-index: 5;
    border-radius: 50%;
    line-height: 25px;
    margin-left: 10px;
}


.project-image {
    max-width: 100%;
    width: 500px;
    height: 300px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.color-picker {
    background-image: url('/img/color-picker.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.space-ship {
    background-image: url('/img/spaceship.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.immersion {
    background-image: url('/img/immersionn.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description {
    max-width: 95%;
    width: 400px;
    padding-left: 25px;
    font-size: 1.4rem;
}

button {
    width: 140px;
    padding: 8px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #474787;
    color: #FFF;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s;
}

button:hover {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #706fd3;
}

.icons {
    font-size: 3rem;
}

.buttons {
    margin-top: 15px;
}

footer {
    width: 100%;
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #706fd3;
    font-size: 2rem;
}

@media (max-width:860px) {

    .project-box {
        width: 100%;

    }

    .project-image {
        width: 100%;
    }

    .item {
        flex-wrap: wrap;
    }

    .description {
        padding-top: 25px;
        width: 95%;
        padding-left: 0px;
    }

}