<!DOCTYPE html>
<html lang="pt-br"/>
<head>
	<meta charset="utf-8"/>
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
	<title>Site responsivo & bonitão</title>
</head>
<body>
<header>
	<div class="container">
		<div class="col-4">
			<span> 
				<i class="fas fa-phone-square-alt"></i>
				41 6666-6666
			</span>
		</div>
		<div class="col-4">
			<span>
				<i class="far fa-envelope"></i>
				zezin@zezin.com.br
			</span>
		</div>
		<div class="col-4">
			<span>
				<i class="fas fa-map-marker-alt"></i>
				Rua dos Bobos, 0 - Nowhere Land
			</span>
		</div>
	</div>

</header>
<!-- nav -->
<nav>
	<div class="container">
		<div class="logo">
			<img src="img/logo.png" width="230px" />
		</div>
		<div class="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a href="#">Empresa</a></li>
				<li><a href="#">Hospedagem</a></li>
				<li><a href="#">Portfólio</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</div>
		<div id="menu" class="menu-responsive">
			<i id="menu-hamburguer" class="fas fa-bars menu-icon"></i>
		</div>		
	</div>
</nav>
<div class="container">
	<div id="nav-responsive" class="nav-responsive hide">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Empresa</a></li>
			<li><a href="#">Hospedagem</a></li>
			<li><a href="#">Portfólio</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</div>
</div>
<!-- top bg -->
<section>
	<div class="bg"></div>
</section>
<!-- welcome -->
<section class="welcome">
	<div class="container">
		<div class="welcome-text col-6">
			<h2 style="color:#002e65;">BEM-VINDO AO</br><span style="color:#8d0902;">NOSSO SITE<div class="line"></div></span></h2>
			<p>Ai você fala o seguinte: "- Mas vocês acabaram isso?" Vou te falar: -"Não, está em andamento!" Tem obras que "vai" durar pra depois de 2010. Agora, por isso, nós já não desenhamos, não começamos a fazer projeto do que nós "podêmo fazê"? 11, 12, 13, 14... Por que é que não?</p>
			<button class="welcome-btn">
				ENTRAR
			</button>
		</div>
		<div class="welcome-img col-6"></div>
	</div>
</section>
<!-- main section -->
<section class="services">
	<div class="container">
		<h2>Serviços</h2>
		<div class="box col-4">
			<img src="img/service.png" width="100%" />
			<h3>CRIAÇÃO DE SITES</h3>
			<p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.</p>
			<button class="btn-service">Saiba mais</button>
		</div>
		<div class="box col-4">
			<img src="img/service.png" width="100%" />
			<h3>HOSPEDAGEM DE SITES</h3>
			<p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.</p>
			<button class="btn-service">Saiba mais</button>
		</div>
		<div class="box col-4">
			<img src="img/service.png" width="100%" />
			<h3>MANUTENÇÃO DE SITES</h3>
			<p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.</p>
			<button class="btn-service">Saiba mais</button>
		</div>
	</div>
</section>
<script src="main.js"></script>
</body>
</html>